# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

Test191118\.xcodeproj/project\.xcworkspace/xcuserdata/sophie\.xcuserdatad/UserInterfaceState\.xcuserstate

Test191118\.xcodeproj/project\.xcworkspace/xcuserdata/sophie\.xcuserdatad/

Test191118\.xcodeproj/xcuserdata/sophie\.xcuserdatad/xcschemes/
